<div class="side-nav">
  <mat-list>
    <a mat-list-item routerLink="/styleguide/components">Components</a>
    <a mat-list-item class="sub-item" *ngFor="let menuItem of styleguideMeta?.components?.menu" href="{{'/styleguide/components#' + menuItem.id}}">{{menuItem.title}}</a>

    <a mat-list-item routerLink="/styleguide/models">Models</a>
    <a mat-list-item class="sub-item" *ngFor="let menuItem of styleguideMeta?.models?.menu" href="{{'/styleguide/models#' + menuItem.id}}">{{menuItem.title}}</a>

    <a mat-list-item routerLink="/styleguide/pipes">Pipes</a>
    <a mat-list-item class="sub-item" *ngFor="let menuItem of styleguideMeta?.pipes?.menu" href="{{'/styleguide/pipes#' + menuItem.id}}">{{menuItem.title}}</a>

    <a mat-list-item routerLink="/styleguide/directives">Directives</a>
    <a mat-list-item class="sub-item" *ngFor="let menuItem of styleguideMeta?.directives?.menu" href="{{'/styleguide/directives#' + menuItem.id}}">{{menuItem.title}}</a>
  </mat-list>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
