@import "../assets/style/lib/main.scss";
// @import "~@angular/material/prebuilt-themes/purple-green.scss";

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  position: fixed;
  background: $black;
}

// ::ng-deep {
//   .sidebar {
//     grid-area: sidebar;
//   }

//   .content {
//     grid-area: content;
//   }

//   .header {
//     grid-area: header;
//   }

//   .wrapper {
//     display: grid;
//     grid-gap: 10px;
//     grid-template-columns: 120px  120px  120px;
//     grid-template-areas: "sidebar sidebar content content content content";
//     background-color: #fff;
//     color: #444;
//   }
// }
