<header>
  <div>
    <h1>
      <span>Styl</span>
      <span>gyver</span>
    </h1>
    <h4>WD40 and a roll of ducktape for your styleguide</h4>
  </div>

  <span [@heroState]="'go-left'" class="left-shade"></span>
  <span [@heroState]="'go-right'" class="right-shade"></span>
</header>

<section>
    <h2>Install</h2>

    <pre>{{example1}}</pre>

</section>

<section>
    <h2>Import</h2>

    <pre>{{example2}}</pre>

  </section>

  <section>
    <h2>Define webpack options</h2>

    <pre>{{example3}}</pre>
</section>

<section>
    <h2>Consume your juicy meta</h2>

    <pre>{{example4}}</pre>
</section>

<section>
  <p>Generate app meta that lives anywhere in your app</p>
  <p>Describe your components, directives, pipes, directives, services and models along side your internal styleguide</p>
</section>
